{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 3</title>
    <link rel="stylesheet" type="text/css" href="{% static "/css/homepage.css" %}">
</head>
<body>
    <h1 style="text-align:center;">Amiel De Los Reyes' Page</h1>
    <ul>
        <li><a href="{% url "TMA3:home" %}">Home</a></li>
        <li><a href="{% url "TMA3:part1" %}">Part 1</a></li>
        <li><a href="{% url "TMA3:part2" %}">Part 2</a></li>
        <li><a href="{% url "TMA3:part3" %}">Part 3</a></li>
        <li><a href="{% url "TMA3:part4" %}">Part 4</a></li>
    </ul>
    <hr />
    <span>Assignment 3 (Part 4) - Amiel De Los Reyes &copy; 2023</span>

</body>
</html>
